body {
  background-color: #e6e9ed;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-bottom: 25px;
}

h1 {
  font-weight: 100;
  font-size: 40px;
  line-height: 1.5;
  color: #6a63c1;
}

form {
  padding: 28px;
  background-color: #6a63c1;
  border-radius: 40px;
  text-align: center;
  margin-bottom: 30px;
}

.instructions {
  padding: 16px;
  border: 1px solid rgba(40, 22, 60, 0.5);
  width: 60%;
  font-size: 18px;
  border-radius: 48px;
  line-height: 20px;
}

.button {
  background: #e6e9ed;
  color: #6a63c1;
  font-weight: 800;
  border: none;
  border-radius: 20px;
  line-height: 50px;
  width: 90px;
}

.poem {
  font-size: 14px;
  background-color: #fff;
  padding: 20px;
  line-height: 24px;
  border-left: 3px solid #6a63c1;
  box-shadow: 0px 4px 30px 0px rgba(30, 33, 66, 0.03);
}

footer {
  text-align: center;
  font-size: 14px;
  margin-top: 10pc;
}
